<ion-header>
  <ion-navbar color="danger">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Hard Shop</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="cartPopover($event)">
        <ion-icon name="md-cart"></ion-icon>
      </button>
      <button ion-button icon-only (click)="showAllCategories()">
        <ion-icon name="md-pricetag"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="container">
  <ion-grid id="banner">
    <ion-row *ngFor="let p of bestProduct">
      <ion-col col-6>
        <img id="img-banner" src="http://localhost:8000/api/v1/products/image/{{ p.thumbnail }}" />
      </ion-col>
      <ion-col col-6>
        <h4 text-uppercase>{{ p.title }}</h4>
        <p class="desc">{{ p.description }}</p>
        <button small ion-button color="danger" (click)="goToCheckout()">Prebook now</button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-searchbar
    placeholder="Search for products and brands"
    [(ngModel)]="searchTerm"
    [showCancelButton]="shouldShowCancel"
    (ionInput)="setFiltredProducts()"
    (ionCancel)="clearFiltredProducts()">
  </ion-searchbar>

  <p padding color="danger" *ngIf="nothing">Nothing match your search query</p>

  <ion-row *ngIf="filtredProducts.length">
    <ion-col col-6 *ngFor="let p of filtredProducts">
      <product [product]="p"></product>
    </ion-col>
  </ion-row>

  <div *ngIf="!filtredProducts.length">
    <ion-row>
        <ion-col col-6 *ngFor="let p of products">
          <product [product]="p"></product>
        </ion-col>
    </ion-row>
  </div>

</ion-content>
