.swiper-pagination-fraction, .swiper-pagination-custom, .swiper-container-horizontal > .swiper-pagination-bullets {
  bottom: 0px !important;
}
.swiper-pagination-bullet-active{
  background: color($colors, 'danger') !important;
}
.inStock{
  color: green;
}
.outOfStock{
  color: color($colors, 'danger');
}
.img-loaded + ion-spinner {
  display:none;
}
// .center in my case to make the spinner at the center
.center{
  margin-left: auto;
  margin-right: auto;
  display: block;
}